.comment {
    width: 369px;
    height: 198px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px;
    border: 2px solid #6A983C;
    border-radius: 12px;
    background-color: #6a983cb5;
}

.text {
    width: 305px;
    height: 92px;
    font-size: 15px;
    font-weight: 500;
    opacity: 1;
}

.name {
    font-size: 12px;
    font-weight: 600;
    color: #151515;
}

.photo {
    border-radius: 25px;
}