.auth {
    width: 376px;
    height: 526px;
}

.auth_header {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
}

.auth_form{
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auth_form_element {
    font-family: inherit;
    width: 270px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 12px;
    border: 2px solid #D1D1D1;
}

.auth_form_input {
    
}

.auth_form_enter {
    background-color: #6A983C;
}

.auth_form_apple {
    background-color: #D1D1D1;
}

.auth_form_apple::after {
    content: "\f179";
    font-family: FontAwesome;
    font-size: 20px;
    margin-left: 10px;
}

.auth_form_line{
    text-align:center;
    border-bottom:1px solid #6A983C;
    vertical-align: middle;
}



.auth_form_line_text{
    font-size:24px;
    display:inline-block;
    padding:0 5px 5px;
    margin-bottom: -12px;
    color:#6A983C;
}