.auth {
    width: 326px;
    height: 456px;
}

.auth_header {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
}

.auth_form{
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.auth_form_element {
    font-family: inherit;
    width: 270px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 12px;
    border: 2px solid #D1D1D1;
}

.auth_form_enter {
    background-color: #6A983C;
    color: #151515;
    font-size: 17px;
    font-weight: 600;
}

.auth_form_apple {
    background-color: #D1D1D1;
    color: #151515;
}

.auth_form_apple::after {
    content: "\f179";
    font-family: FontAwesome;
    font-size: 20px;
    margin-left: 10px;
}

.auth_form_line {
    overflow: hidden;
    color: #D1D1D1;
    font-size: 14px;
}

.auth_form_line:before, 
.auth_form_line::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background: #D1D1D1;
    border: solid #FFF;
	border-width: 0px 60px;
}

.auth_form_line::after {
    margin-right: -100%;
}

.auth_form_line::before {
    margin-left: -100%;
}

.auth_form_mail {
    text-decoration: none;
    color: #6A983C;
    font-size: 13px;
}